nav img{
    margin-top: 30px;
    margin-left: 30px;
}
h1{

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: right;
color: #272265;
margin-right: 42px;

}
p {

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
text-align: right;
color: #606E7D;
margin-right: 44px;
margin-top: 8px;
line-height: 25px;
letter-spacing: 0.0703846px;

}

.icon_map_3{
    display: flex;
    box-sizing: border-box;
    margin-top: 36px;
    margin-left: 180px;
    
}
.icon_map_3 h3{
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 14px;
color: #606E7D;
box-sizing: border-box;
text-align: center;
margin-top: 6px;
}
.icon_3{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #272265;
    margin-right: 150px;
   
   

}
.icon_2{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #F6F6F6;
    margin-right: 150px;

}
.icon_1{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #F6F6F6;
    margin-right: 150px;

}


.icon_1 img,.icon_2 img,.icon_3 img{
    width: 14px;
    height: 18px;
    margin: 16px;
  
}
.btn_{
    width: 343px;
    height: 56.49px;
    border-radius: 11px;
    background-color: #F8F8F8;
    margin-top: 64px;
    margin-left: 240px;
  
}
.btn_2{
    width: 171px;
    height: 46px;
    border: none;
    background: none;
    border-radius: 11px;
    margin-top: 5px;
    background-color:  #606E7D;
    color: white;
    float: right;
}
.btn_1{
width: 171px;
height: 46px;
border: none;
border-radius: 11px;
margin-top: 5px;
}

form label {
text-align: right;
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #000;
float: right;
margin-right: 42px;
margin-top: 28px;
}

select{

    width: 315px;
    height: 56px;
    border-radius: 11px;
    border: none;
    background-color: #F8F8F8;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    direction: rtl;
    padding: 5px;
    margin-left: 50px;
}

input[type=text]{
    width: 315px;
    height: 56px;
    border-radius: 11px;
    border: none;
    background-color: #F8F8F8;
    margin-top: 14px;
    text-align: right;
    padding: 20px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color:  #B5BEC8;
    float: right;
   
   
}



.btn_submit span{
    box-sizing: border-box;
    margin-right: 10px;
}
.btn_submit button{
float: right;
width:159px ;
height:45px ;
border-radius: 22.5px;
background-color:  #272265;
color: white;
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 16px;
margin-top: 64px;
margin-right: 42px;
margin-bottom: 10px;

}




