.navbar h1{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.0703846px;
    color: #272265;
    margin-top: 24px;
   }
   .back_icon{
    margin-right: 32px;
    margin-top: 12px;
   }
   .cloas_icon{
    margin-left: 32px;
    margin-top: 12px;
   }
   p{
    
    margin-right: 51px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.0703846px;
    color: #606E7D;
   }
   .div_img1{
    display: flex;
    margin-right: 51px;
    float: right;
   }
   .div_img1 img{
    padding-left: 6px;
   }
   .btn_new_field{
    width: 123px;
    height: 40px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0703846px;
    color: #272265;
    background: #FFFFFF;
    border-color: #606E7D;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 25px;
  margin-left: 300px;
  
   
   }
   .btn_new_field span img{
    padding-left: 8px;
   }
  .btn_sub button {
    width: 124px;
    height:45px ;
    background: #272265;
    border: 1px solid #272265;
    border-radius: 100px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.0703846px;
    color: #FFFFFF;
    margin-right: 45px;
    margin-bottom: 28px;
    margin-left: 300px;
   
   }
   hr{
    width: 90%;
   }
 